@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
}

.wrapper {
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.qrcode-top {
    height: 280px;
    width: 280px;
    background-image: url("./image-qr-code.png");
    background-repeat:no-repeat;
    background-position: cover;
    background-size: 280px;
    border-radius: 10px;
    position: relative;
    margin: 15px;
}

.qrcode-bottom {
    margin-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title {
    font-size: 22px;
    width: 260px;
    color: hsl(218, 44%, 22%);
    margin-bottom: 15px;
}

.subtitle {
    margin-bottom: 20px;
    font-size: 15px;
    width: 260px;
    color: hsl(220, 15%, 55%);
}
